@model SisLibCredito.Models.CreditoResultadoModel

@{
    ViewBag.Title = "View";
}

    <h2>Resultado do Cálculo do Crédito</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            <strong> @Html.DisplayFor(model => model.Status) </strong>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotalComJuros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotalComJuros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorDoJuros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorDoJuros)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Fazer Novo Cálculo", "Index")
</p>
